<!-- About Page -->
<ion-pane>
  <ion-content padding="true">
    <div class="bar bar-header">
      <a class="button icon-left ion-chevron-left button-clear button-balanced" ui-sref="login">&nbsp; Back</a>
      <div class="h1 title">About MindKit</div>
    </div>
    <div class="spacer" style="height: 40px;"></div>
    <div class="card">
      <div class="item item-text-wrap">
        This is info about the MindKit app! It will tell you about how to use it. 
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        This is info about the CBT! It will tell you about how it can help. 
      </div>
    </div>
  </ion-content>
</ion-pane>