<!-- Landing/Login Page -->
<ion-pane>
  <ion-content padding="true">
    <center><h1 class="title">MindKit</h1></center>
    <div class="spacer" style="height: 40px;"></div>
    <center><h4>Ready to change your mind?</h4></center>
    <div class="list list-insest">
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password">
      </label>
      <a class="button button-block button-royal" ui-sref="progress">Sign In</a>
      <center>
        <a class="button button-clear button-balanced" ui-sref="signup">Sign Up</a>
        <a class="button button-clear button-balanced" ui-sref="about">About MindKit</a>
      </center>
    </div>
  </ion-content>
</ion-pane>