<!-- New thought log (wizard template) -->
<ion-view>

  <ion-content>
    <!-- nav header -->
<!--     <ion-nav-buttons side="left">
      <button class="button button-light no-animation" ng-click="start()">
          Skip wizard
      </button>
      <button class="button button-light no-animation" ion-wizard-previous>
          Back
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-light no-animation" ion-wizard-next>
          Next
      </button>
      <button class="button button-light no-animation" ion-wizard-start="start()">
          Start App
      </button>
    </ion-nav-buttons> -->

    <ion-slide-box ion-wizard class="ion-wizard">
      <form ng-submit="createLog()">

      <!-- First question - situation -->
      <ion-slide ion-wizard-step>
        <div class="bar bar-header title-head">
          <a class="button icon-left ion-arrow-left-c button-clear" ui-sref="progress">&nbsp; Back</a>
          <div class="h1 title">Thought Log</div>
        </div>
        <div class="spacer" style="height: 40px;"></div>
        <div class="row">
          <div class="col col-center">
            <div class="list rounded">
              <center><h4>What was the situation?</h4></center>
              <div class="list list-inset">
                <label class="item item-input">
                  <textarea rows="20" placeholder="What happened? Where was I? Who was I with?"></textarea>
                </label>
              </div>
              <button class="button button-block button-yolk" ion-wizard-next>
                Next &nbsp; <i class="icon ion-arrow-right-c"></i>
              </button>
            </div>
          </div>
        </div>
      </ion-slide>

      <!-- Second question - Emotions/feelings -->
      <ion-slide ion-wizard-step>
        <div class="bar bar-header title-head">
          <button class="button button-clear no-animation button-light" ion-wizard-previous><i class="icon ion-arrow-left-c cream"></i>&nbsp;Previous</button>
          <div class="h1 title">Thought Log</div>
        </div>
        <div class="spacer" style="height: 40px;"></div>
        <div class="row">
          <div class="col col-center">
            <div class="list rounded">
              <center>
                <h4>How did I feel?</h4>
                <p class="cream">
                  <b>What emotions did I feel? <br> How intense were they?</b><br>
                  Add up to 5 emotions and indicate how strong they were, from 1 - 100%.
                </p>
              </center>
              <!-- list of emotions -->
              <ion-list>
                <!-- emotion 1 -->
                <div class="row">
                  <div class="col">  
                    <label class="item item-input">
                      <input type="text" placeholder="Emotion">
                    </label>
                  </div>
                  <div class="col col-33">
                    <label class="item item-input">
                      <input type="text" placeholder="1-100">%&nbsp; &nbsp; &nbsp;
                    </label>
                  </div>
                </div>
                <!-- emotion 2 -->
                <div class="row">
                  <div class="col">  
                    <label class="item item-input">
                      <input type="text" placeholder="Emotion">
                    </label>
                  </div>
                  <div class="col col-33">
                    <label class="item item-input">
                      <input type="text" placeholder="1-100">%&nbsp; &nbsp; &nbsp;
                    </label>
                  </div>
                </div>
                <!-- emotion 3 -->
                <div class="row">
                  <div class="col">  
                    <label class="item item-input">
                      <input type="text" placeholder="Emotion">
                    </label>
                  </div>
                  <div class="col col-33">
                    <label class="item item-input">
                      <input type="text" placeholder="1-100">%&nbsp; &nbsp; &nbsp;
                    </label>
                  </div>
                </div>
                <!-- emotion 4 -->
                <div class="row">
                  <div class="col">  
                    <label class="item item-input">
                      <input type="text" placeholder="Emotion">
                    </label>
                  </div>
                  <div class="col col-33">
                    <label class="item item-input">
                      <input type="text" placeholder="1-100">%&nbsp; &nbsp; &nbsp;
                    </label>
                  </div>
                </div>
                <!-- emotion 5 -->
                <div class="row">
                  <div class="col">  
                    <label class="item item-input">
                      <input type="text" placeholder="Emotion">
                    </label>
                  </div>
                  <div class="col col-33">
                    <label class="item item-input">
                      <input type="text" placeholder="1-100">%&nbsp; &nbsp; &nbsp;
                    </label>
                  </div>
                </div>
              </ion-list> 
              <button class="button button-block button-yolk" ion-wizard-next>
                Next &nbsp; <i class="icon ion-arrow-right-c"></i>
              </button>
            </div>
          </div>
        </div>
      </ion-slide>

      <!-- Third question - ANT thoughts -->
      <ion-slide ion-wizard-step>
        <div class="bar bar-header title-head">
          <button class="button button-clear no-animation button-light" ion-wizard-previous><i class="icon ion-arrow-left-c cream"></i>&nbsp;Previous</button>
          <div class="h1 title">Thought Log</div>
        </div>
        <div class="spacer" style="height: 40px;"></div>
        <div class="row">
          <div class="col col-center">
            <div class="list rounded">
              <center><h4>What were my thoughts?</h4></center>
              <div class="list list-inset">
                <label class="item item-input">
                  <textarea rows="20" placeholder="What automatic negative thoughts did I have?"></textarea>
                </label>
              </div>
              <button class="button button-block button-yolk" ion-wizard-next>
                Next &nbsp; <i class="icon ion-arrow-right-c"></i>
              </button>
            </div>
          </div>
        </div>
      </ion-slide>

      <!-- Fourth question - Supporting Evidence -->
      <ion-slide ion-wizard-step>
        <div class="bar bar-header title-head">
          <button class="button button-clear no-animation button-light" ion-wizard-previous><i class="icon ion-arrow-left-c cream"></i>&nbsp;Previous</button>
          <div class="h1 title">Thought Log</div>
        </div>
        <div class="spacer" style="height: 40px;"></div>
        <div class="row">
          <div class="col col-center">
            <div class="list rounded">
              <center><h4>Supporting Evidence</h4></center>
              <div class="list list-inset">
                <label class="item item-input">
                  <textarea rows="20" placeholder="What evidence do I have that supports these thoughts? What are the facts?"></textarea>
                </label>
              </div>
              <button class="button button-block button-yolk" ion-wizard-next>
                Next &nbsp; <i class="icon ion-arrow-right-c"></i>
              </button>
            </div>
          </div>
        </div>
      </ion-slide>

      <!-- Fifth question - Supporting Evidence -->
      <ion-slide ion-wizard-step>
        <div class="bar bar-header title-head">
          <button class="button button-clear no-animation button-light" ion-wizard-previous><i class="icon ion-arrow-left-c cream"></i>&nbsp;Previous</button>
          <div class="h1 title">Thought Log</div>
        </div>
        <div class="spacer" style="height: 40px;"></div>
        <div class="row">
          <div class="col col-center">
            <div class="list rounded">
              <center><h4>Contradicting Evidence</h4></center>
              <div class="list list-inset">
                <label class="item item-input">
                  <textarea rows="20" placeholder="What evidence do I have that contradicts these thoughts? What are the facts?"></textarea>
                </label>
              </div>
              <button class="button button-block button-yolk" ion-wizard-next>
                Next &nbsp; <i class="icon ion-arrow-right-c"></i>
              </button>
            </div>
          </div>
        </div>
      </ion-slide>

      <!-- Sixth question - Alternative thoughts -->
      <ion-slide ion-wizard-step>
        <div class="bar bar-header title-head">
          <button class="button button-clear no-animation button-light" ion-wizard-previous><i class="icon ion-arrow-left-c cream"></i>&nbsp;Previous</button>
          <div class="h1 title">Thought Log</div>
        </div>
        <div class="spacer" style="height: 40px;"></div>
        <div class="row">
          <div class="col col-center">
            <div class="list rounded">
              <center><h4>Alternative Thoughts</h4></center>
              <div class="list list-inset">
                <label class="item item-input">
                  <textarea rows="20" placeholder="What's a more realistic thought? What would someone else say? Is there another way of seeing it?"></textarea>
                </label>
              </div>
              <button class="button button-block button-yolk" ion-wizard-next>
                Next &nbsp; <i class="icon ion-arrow-right-c"></i>
              </button>
            </div>
          </div>
        </div>
      </ion-slide>

      <!-- Seventh question - Re-evaluate -->
      <ion-slide ion-wizard-step>
        <div class="bar bar-header title-head">
          <button class="button button-clear no-animation button-light" ion-wizard-previous><i class="icon ion-arrow-left-c cream"></i>&nbsp;Previous</button>
          <div class="h1 title">Thought Log</div>
        </div>
        <div class="spacer" style="height: 40px;"></div>
        <div class="row">
          <div class="col col-center">
            <div class="list rounded">
              <center><h4>How do I feel now?</h4></center>
              <ion-list>
                <div class="row">
                  <div class="col">
                    <p class="cream">[ emotion1a, amount % ]</p>
                  </div>
                  <div class="col">
                    <label class="item item-input">
                      <input type="text" placeholder="Now">%&nbsp;
                    </label>
                  </div>
                </div>
                <!-- emotion 1 -->
                <p class="cream">[ emotion1a, amount % ]</p>
                <div class="list list-inset">
                  <label class="item item-input">
                    <input type="text" placeholder="Strength now, 1-100">%
                  </label>
                </div>
                <!-- emotion 2 -->
                <div class="list list-inset">
                  [ emotion2a, amount % ]
                  <label class="item item-input">
                    <input type="text" placeholder="Strength now, 1-100">%
                  </label>
                </div>
                <!-- emotion 3 -->
                <div class="list list-inset">
                  [ emotion3a, amount % ]
                  <label class="item item-input">
                    <input type="text" placeholder="Strength now, 1-100">%
                  </label>
                </div>
                <!-- emotion 4 -->
                <div class="list list-inset">
                  [ emotion4a, amount % ]
                  <label class="item item-input">
                    <input type="text" placeholder="Strength now, 1-100">%
                  </label>
                </div>
                <!-- emotion 5 -->
                <div class="list list-inset">
                  [ emotion5a, amount % ]
                  <label class="item item-input">
                    <input type="text" placeholder="Strength now, 1-100">%
                  </label>
                </div>
              </ion-list>
              <button type="submit" class="button button-block button-yolk">Add Log</button>        
            </div>
          </div>
        </div>
        <div class="spacer" style="height: 25px;"></div>
      
        </form>
      </ion-slide>
<!--     </ion-slide-box> -->
  </ion-content>
</ion-view>