<ion-content>
  <form ng-submit="createLog()">
    <div class="row">
      <div class="col col-center">
        <div class="list rounded">
          <center><h1>What was the situation?</h1></center>
          <div class="list list-inset">
            <label class="item item-input">
              <textarea ng-model="thoughtLog.situation" rows="20" placeholder="What happened? Where was I? Who was I with?"></textarea>
            </label>
          </div>
          <button type="submit" class="button button-block button-yolk">Add Log</button>
        </div>
      </div>
    </div>

  </form>
</ion-content>
