<!-- Progress/Main Page -->
<ion-pane>
  <ion-content>
    <div class="title-head">
      <div class="spacer" style="height: 10px;"></div>
      <center><h1 class="title">MindKit</h1></center>
      <div class="spacer" style="height: 10px;"></div>
    </div>
    
    <!-- container with button to new thought log entry -->
    <div class="list">

      <div class="item item-text-wrap landing-log">
        <center>
          <h4>Thought Log</h4><br>
          <a class="button button-yolk" ui-sref="newLog"><b>New Entry</b></a>
        </center>
        <div class="spacer" style="height: 10px;"></div>
      </div>
      
      <!-- container with chart showing improvement over time -->
      <div class="item item-text-wrap landing-progress">
        <center>
          <h4>My Progress</h4>
          <br>[chart of improvement]
        </center>
        <div class="spacer" style="height: 10px;"></div>
      </div>
      
      <!-- scrolling calendar display with icon links to thought logs, shown on the day they were entered -->
      <div class="item item-text-wrap landing-thoughts">
        <center>
          <h4>Thought Logs</h4>
          <br>[display scrolling calendar with icons on each day linking to that thought log]
          <br>
          <h1><a ui-sref="showLog"><i class="ion-chatbubble icon-cream"></i></a></h1>
      </div>

      <!-- split row container display number of thought log entries and average improvement -->
      <div class="row">
        <div class="col landing-entries">
          <center>
            <h5>Thought Log Entries</h5>
            <h1>13</h1>
          </center>
        </div>
        <div class="col landing-improvement">
          <center>
            <h5>Average Improvement</h5>
            <h1>57%</h1>
          </center>
        </div>
      </div>

    </div>
  </ion-content>
</ion-pane>