<!-- Landing/Login Page -->
<ion-pane>
  <ion-content padding="true">
    <div class="bar bar-header title-head">
      <a class="button icon-left ion-arrow-left-c button-clear button-light" ui-sref="progress">&nbsp; Progress</a>
      <div class="h1 title">Thought Log</div>
    </div>
    <div class="spacer title-head" style="height: 40px;"></div>
    <!-- container with button to new thought log entry -->
    <div class="list title-head">
      <div class="item item-text-wrap">
        { Date }
        <br><br>
        
        <h2><strong>You felt { x }% better after completing this thought log!</strong></h2>
        <br>

        <strong>Situation</strong><br>
        <p>
          {{ thoughtLogs[6].situation }}
        </p>
        <br>

        <strong>Feelings</strong><br>
        <p>
          {{ thoughtLogs[6].emotion1 }}
          <br>
          {{ thoughtLogs[6].emotion2 }}
          <br>
          {{ thoughtLogs[6].emotion3 }}
          <br>
          {{ thoughtLogs[6].emotion4 }}
          <br>
          {{ thoughtLogs[6].emotion5 }}
          <br>

          <!-- { Emotion1 } { x }% <i class="ion-arrow-graph-down-right"></i> { y }%
          <br>
          { Emotion2 } { x }% <i class="ion-arrow-graph-down-right"></i> { y }%
          <br>
          { Emotion3 } { x }% <i class="ion-arrow-graph-down-right"></i> { y }%
          <br>
          { Emotion4 } { x }% <i class="ion-arrow-graph-down-right"></i> { y }%
          <br>
          { Emotion5 } { x }% <i class="ion-arrow-graph-down-right"></i> { y }%
          <br>
          <b>Sad</b> 93% <i class="ion-arrow-graph-down-right"></i> 27%
        </p> -->
        <br>

        <strong>Thoughts</strong><br>
        <p>
          { Text from auto thoughts attribute filled out in new thought log form }
        </p>
        <br>

        <strong>Supporting Evidence</strong><br>
        <p>
          { Text from supporting evidence attribute filled out in new thought log form }
        </p>
        <br>

        <strong>Contradicting Evidence</strong><br>
        <p>
          { Text from contradicting evidence attribute filled out in new thought log form }
        </p>
        <br>

        <strong>Alternative Thoughts</strong><br>
        <p>
          { Text from alt thoughts attribute filled out in new thought log form }
        </p>
        <br>

      </div>
    </div>
  </ion-content>
</ion-pane>