/* Empty. Add your own CSS if you like */

/* buttons */
.button-yolk-light {
  background-color: #FFFCEC;
  color: #FFE361;
  border-color: #FFE361
}

.button-yolk {
  background-color: #FFE361;
  color: #FFFCEC;
  border: none;
}

.button-sky-light {
  background-color: #FFFCEC;
  color: #ABDCD6;
  border-color: #ABDCD6;
}

.button-sky {
  background-color: #ABDCD6;
  color: #FFFCEC;
  border: none;
}

.button-tangelo-light {
  background-color: #FFFCEC;
  border-color: #EB5936;
  color: #EB5936;
}

.button-tangelo {
  background-color: #EB5936;
  color: #FFFCEC;
  border: none;
}

.button-aluminum-light {
  background-color: #FFFCEC;
  color: #D2D2D3;
  border-color: #D2D2D3;
}

.button-aluminum {
  background-color: #D2D2D3;
  color: #FFFCEC;
  border: none;
}

.button-cream {
  background-color: #FFFCEC;
  color: black;
  border: none;
}

.title-head {
  background-color: #EB5936;
  color: #FFFCEC;
  border: none;
}

.title-head h1 {
  color: #FFFCEC;
}

.landing-log {
  background-color: #ABDCD6;
  border: none;
}

.landing-log h4 {
  color: #FFFCEC;
  font-size: 22px;
}

.landing-progress {
  background-color: #FFFCEC;
  color: #EB5936;
  border: none;
}

.landing-progress h4 {
  color: #EB5936;
  font-size: 18px;
}

.landing-thoughts {
  background-color: #FFE361;
  color: #FFFCEC;
  border: none;
}

.landing-thoughts h4 {
  color: #EDC300;
  font-size: 18px;
}

.icon-cream {
  color: #FFFCEC;
}

.landing-entries {
  background-color: #ABDCD6;
  border: none;
}

.landing-improvement {
  background-color: #EB5936;
  border: none;
}

.landing-improvement h1, .landing-entries h1 {
  color: #FFFCEC;
}

.landing-improvement h5, .landing-entries h5 {
  color: #FFFCEC;
  font-size: 
}

.ion-wizard {
  background-color: #ABDCD6;
}

.h1 {
  color: #FFFCEC;
}

h4 {
  color: #FFFCEC;
}

.row {
  border: none;
  padding: 0px;
}

.item-input {
  background-color: #FFFCEC;
}

textarea {
  background-color: #FFFCEC;
}

.cream {
  color: #FFFCEC;
}